.hero{          
    display: flex;

    & &__content{
        margin: 170px 0 0;
        display: flex;
        gap: 16px;
        flex-direction: column;
        color: #fff;
    }

    & &__rank{
        display: flex;
        gap: 16px;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 1em;
        letter-spacing: -0.03em;
    }

    & &__rankIcon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 32px;
        height: 32px;
        border-radius: 9.6px;
        background-color: #DE4129;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        line-height: 1em;
        & span:first-child{
            font-size: 8px;
        }
    }

    & &__title{
        height: 70px;
        max-width: 269px;
    }

    & &__description{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: -0.01em;
    }

    & &__buttonsContainer{
        margin-top: 8px;
        display: flex;
        gap: 12px;
    }

    @media (min-width: 768px){
        & &__content{
            margin: 172px 0 88px;
            width: 535px;
            gap: 24px;
        }

        & &__rank{
            font-size: 24px;
            letter-spacing: -0.03em;
        }
    
        & &__rankIcon{
            width: 40px;
            height: 40px;
            border-radius: 12px;
            font-size: 16px;
            & span:first-child{
                font-size: 10px;
            }
        }
    
        & &__title{
            height: 112px;
            max-width: 425px;
        }
    
        & &__description{
            font-size: 18px;
            letter-spacing: -0.03em;
        }
    
        & &__buttonsContainer{
            margin-top: 16px;
            display: flex;
            gap: 12px;
        }
    }
}