.button{
    border: none;
    outline: none;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 18px 16px;
    border-radius: 444px;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 600;
    letter-spacing: -0.03em;

    &__icon{
        width: 20px;
        height: 20px;
    }
    
    &--primary{
        color: #000;
        background: #fff;
    }

    &--secondary{
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(4px);
    }

    @media (min-width: 768px){
        padding: 18px 40px;
    }
}